:root {
    --primary-color: #0624ae;
    --secondary-color: #19c223;
    --dark-color: #2c2c4c;
    --text-color: #000000;
    --light-color: #ffffff;
    --paragraph-size: 1.25rem; /* 18px */
    --heading-size: 2rem; /* 40px */
}

body {
    font-family: "Poppins", sans-serif;
    padding-top: 56px; /* Height of navbar */
}

/* Tamaños base */
h1,
h2,
h3,
.hero-text {
    font-family: "League Spartan", sans-serif;
}

p {
    font-size: var(--paragraph-size);
    line-height: 1.6;
}

/* Custom Navbar */
.navbar {
    background-color: var(--light-color);
    padding: 1rem 0;
    top: 40px; /* Height of notification bar */
    transition: top 0.3s ease;
}

.notification-bar.fade:not(.show) + .navbar {
    top: 0;
    transition: top 0.3s ease;
}

.navbar-brand img {
    width: 200px;
}

/* Footer */
.footer {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 2rem 0;
}

.social-icons a {
    color: var(--light-color);
    font-size: 1.5rem;
    margin-right: 1rem;
}

/* Tamaños específicos */
.hero h1 {
    font-size: 3rem;
    line-height: 1.1;
}

.hero p {
    font-size: 1.25rem; /* 20px */
}

.service-description {
    font-size: 1.125rem; /* 18px */
}

/* Custom Button */
.btn-primary-custom {
    /* Para borrar */
    background-color: var(--primary-color);
    color: var(--light-color);
    border: none;
    padding: 0.6rem 1.5rem;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.btn-primary-custom:hover {
    background-color: var(--dark-color);
    transform: translateY(-2px);
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--light-color);
    border: none;
    padding: 0.6rem 1.5rem;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.btn-success {
    background-color: #19c223;
    border-color: #19c223;
    color: #000000;
    transition: all 0.3s ease;
}

.btn-success:hover {
    background-color: #16a91f;
    border-color: #16a91f;
    color: #000000;
}

.hero .d-grid {
    margin-top: 2rem;
}

/* Custom color */
.icon-primary {
    color: var(--primary-color);
}

.icon-secondary {
    color: var(--secondary-color);
}

.cta-section {
    background-color: var(--primary-color);
    padding: 1rem 0;
}

.cta-section .btn-light:hover {
    background-color: #e2e6ea;
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

@media (max-width: 991.98px) {
    .cta-section .text-lg-end {
        text-align: left !important;
    }
}

.notification-bar {
    background-color: #19c223;
    padding: 0.75rem 0;
    border: none;
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1031; /* Higher than navbar */
}

.notification-bar a:hover {
    text-decoration: underline !important;
}

.btn-close:focus {
    box-shadow: none;
}
