# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build output
dist/

# Netlify
.netlify/
netlify-cli/

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Temporary files
*.tmp
*.temp
.cache/

# OS files
Thumbs.db
.DS_Store
